torch>=2.0
torch-geometric
pytorch-lightning
pyyaml
tqdm
numpy
pandas
statsmodels
matplotlib
scipy
seaborn
scikit-learn
huggingface_hub
torchinfo
tqdm
ipywidgets
diffusers
accelerate
datasets
wandb
notebook
ipykernel