torch==2.4.0
torch-geometric
pytorch-lightning
pyyaml
tqdm
numpy
pandas
statsmodels
matplotlib
scipy
seaborn
scikit-learn
huggingface_hub
torchinfo
tqdm
ipywidgets
diffusers
accelerate
datasets
wandb
notebook
ipykernel
torchdata
# dgl -f https://data.dgl.ai/wheels/torch-2.4/cu124/repo.html